@import "./token.less";

@keyframes vuiProgressActive {
  0% { background-position:0 0; }
  100% { background-position:40px 0; }
}

.@{vui-progress} {
  // line
  &-line {
    position:relative;
    display:flex;
    justify-content:flex-start;
    align-items:center;
    line-height:1;
    white-space:nowrap;
  }

  &-line &-bar {
    flex:1;
    display:block;

    &-trail {
      position:relative;
      width:100%;
      background-color:transparent;
      overflow:hidden;
    }
    &-stroke {
      position:relative;
      width:0%;
      height:100%;
      background-color:transparent;
      transition:all @transition-duration @transition-timing-function;
    }
    &-stroke-success {
      position:absolute;
      top:0;
      left:0;
      width:0%;
      height:100%;
      background-color:transparent;
      transition:all @transition-duration @transition-timing-function;
    }
  }

  &-line &-info {
    display:block;
    margin-left:@margin-xs;
  }

  &-line&-small {
    font-size:@progress-line-font-size-sm;
  }
  &-line&-small &-info {
    width:32px;
  }
  &-line&-medium {
    font-size:@progress-line-font-size-md;
  }
  &-line&-medium &-info {
    width:36px;
  }
  &-line&-large {
    font-size:@progress-line-font-size-lg;
  }
  &-line&-large &-info {
    width:40px;
  }

  &-line&-status-normal {
    color:@progress-normal-font-color;
  }
  &-line&-status-normal &-bar-trail {
    background-color:@progress-normal-trail-color;
  }
  &-line&-status-normal &-bar-stroke {
    background-color:@progress-normal-color;
  }
  &-line&-status-normal &-bar-stroke-success {
    background-color:@progress-success-color;
  }

  &-line&-status-active {
    color:@progress-active-font-color;
  }
  &-line&-status-active &-bar-trail {
    background-color:@progress-active-trail-color;
  }
  &-line&-status-active &-bar-stroke {
    background-color:@progress-active-color;
    background-image:linear-gradient(45deg,rgba(255,255,255,0.15) 0%,rgba(255,255,255,0.15) 25%,transparent 25%,transparent 50%,rgba(255,255,255,.15) 50%,rgba(255,255,255,.15) 75%,transparent 75%,transparent 100%);
    background-size:40px 40px;
    animation:vuiProgressActive 2s linear infinite;
  }
  &-line&-status-active &-bar-stroke-success {
    background-color:@progress-success-color;
    background-image:linear-gradient(45deg,rgba(255,255,255,0.15) 0%,rgba(255,255,255,0.15) 25%,transparent 25%,transparent 50%,rgba(255,255,255,.15) 50%,rgba(255,255,255,.15) 75%,transparent 75%,transparent 100%);
    background-size:40px 40px;
    animation:vuiProgressActive 2s linear infinite;
  }

  &-line&-status-exception {
    color:@progress-exception-font-color;
  }
  &-line&-status-exception &-bar-trail {
    background-color:@progress-exception-trail-color;
  }
  &-line&-status-exception &-bar-stroke {
    background-color:@progress-exception-color;
  }
  &-line&-status-exception &-bar-stroke-success {
    background-color:@progress-success-color;
  }

  &-line&-status-success {
    color:@progress-success-font-color;
  }
  &-line&-status-success &-bar-trail {
    background-color:@progress-success-trail-color;
  }
  &-line&-status-success &-bar-stroke {
    background-color:@progress-success-color;
  }
  &-line&-status-success &-bar-stroke-success {
    background-color:@progress-success-color;
  }

  // circle & dashboard
  &-circle,
  &-dashboard {
    position:relative;
    display:block;
    text-align:center;
    line-height:1;
  }

  &-circle &-bar,
  &-dashboard &-bar {
    display:block;
    width:100%;
    height:100%;

    &-trail {
      fill:none;
      fill-opacity:0;
      stroke:transparent;
    }
    &-stroke {
      fill:none;
      fill-opacity:0;
      stroke:transparent;
      transition:stroke 0.2s ease 0s, stroke-dasharray 0.2s ease 0s, stroke-dashoffset 0.2s ease 0s;
    }
    &-stroke-success {
      fill:none;
      fill-opacity:0;
      stroke:transparent;
      transition:stroke 0.2s ease 0s, stroke-dasharray 0.2s ease 0s, stroke-dashoffset 0.2s ease 0s;
    }
  }

  &-circle &-info,
  &-dashboard &-info {
    position:absolute;
    top:50%;
    left:0;
    right:0;
    width:100%;
    transform:translateY(-50%);
  }

  &-circle&-small,
  &-dashboard&-small {
    font-size:@progress-circle-font-size-sm;
  }
  &-circle&-medium,
  &-dashboard&-medium {
    font-size:@progress-circle-font-size-md;
  }
  &-circle&-large,
  &-dashboard&-large {
    font-size:@progress-circle-font-size-lg;
  }

  &-circle&-status-normal,
  &-dashboard&-status-normal {
    color:@progress-normal-font-color;
  }
  &-circle&-status-normal &-bar-trail,
  &-dashboard&-status-normal &-bar-trail {
    stroke:@progress-normal-trail-color;
  }
  &-circle&-status-normal &-bar-stroke,
  &-dashboard&-status-normal &-bar-stroke {
    stroke:@progress-normal-color;
  }
  &-circle&-status-normal &-bar-stroke-success,
  &-dashboard&-status-normal &-bar-stroke-success {
    stroke:@progress-success-color;
  }

  &-circle&-status-exception,
  &-dashboard&-status-exception {
    color:@progress-exception-font-color;
  }
  &-circle&-status-exception &-bar-trail,
  &-dashboard&-status-exception &-bar-trail {
    stroke:@progress-exception-trail-color;
  }
  &-circle&-status-exception &-bar-stroke,
  &-dashboard&-status-exception &-bar-stroke {
    stroke:@progress-exception-color;
  }
  &-circle&-status-exception &-bar-stroke-success,
  &-dashboard&-status-exception &-bar-stroke-success {
    stroke:@progress-success-color;
  }

  &-circle&-status-success,
  &-dashboard&-status-success {
    color:@progress-success-font-color;
  }
  &-circle&-status-success &-bar-trail,
  &-dashboard&-status-success &-bar-trail {
    stroke:@progress-success-trail-color;
  }
  &-circle&-status-success &-bar-stroke,
  &-dashboard&-status-success &-bar-stroke {
    stroke:@progress-success-color;
  }
  &-circle&-status-success &-bar-stroke-success,
  &-dashboard&-status-success &-bar-stroke-success {
    stroke:@progress-success-color;
  }

  // steps
  &-steps {
    position:relative;
    display:inline-flex;
    justify-content:flex-start;
    align-items:center;
    line-height:1;
    white-space:nowrap;
  }

  &-steps &-bar {
    flex:1;
    display:flex;
    justify-content:flex-start;
    align-items:center;
    white-space:nowrap;

    &-step {
      position:relative;
      background-color:transparent;
      transition:all @transition-duration @transition-timing-function;

      &:not(:first-child) {
        margin-left:2px;
      }
    }
  }

  &-steps &-info {
    display:block;
    margin-left:@margin-xs;
  }

  &-steps&-small {
    font-size:@progress-line-font-size-sm;
  }
  &-steps&-small &-bar-step {
    width:2px;
    height:8px;
  }
  &-steps&-small &-info {
    width:32px;
  }
  &-steps&-medium {
    font-size:@progress-line-font-size-md;
  }
  &-steps&-medium &-bar-step {
    width:16px;
    height:8px;
  }
  &-steps&-medium &-info {
    width:36px;
  }
  &-steps&-large {
    font-size:@progress-line-font-size-lg;
  }
  &-steps&-large &-bar-step {
    width:32px;
    height:8px;
  }
  &-steps&-large &-info {
    width:40px;
  }

  &-steps&-status-normal {
    color:@progress-normal-font-color;
  }
  &-steps&-status-normal &-bar-step {
    background-color:@progress-normal-trail-color;
  }
  &-steps&-status-normal &-bar-step-active {
    background-color:@progress-normal-color;
  }

  &-steps&-status-active {
    color:@progress-active-font-color;
  }
  &-steps&-status-active &-bar-step {
    background-color:@progress-active-trail-color;
  }
  &-steps&-status-active &-bar-step-active {
    background-color:@progress-active-color;
    background-image:linear-gradient(45deg,rgba(255,255,255,0.15) 0%,rgba(255,255,255,0.15) 25%,transparent 25%,transparent 50%,rgba(255,255,255,.15) 50%,rgba(255,255,255,.15) 75%,transparent 75%,transparent 100%);
    background-size:40px 40px;
    animation:vuiProgressActive 2s linear infinite;
  }

  &-steps&-status-exception {
    color:@progress-exception-font-color;
  }
  &-steps&-status-exception &-bar-step {
    background-color:@progress-exception-trail-color;
  }
  &-steps&-status-exception &-bar-step-active {
    background-color:@progress-exception-color;
  }

  &-steps&-status-success {
    color:@progress-success-font-color;
  }
  &-steps&-status-success &-bar-step {
    background-color:@progress-success-trail-color;
  }
  &-steps&-status-success &-bar-step-active {
    background-color:@progress-success-color;
  }
}