@vui-tag: ~"@{vui}-tag";

@tag-border-width: @border-width;
@tag-border-radius: @border-radius;

@tag-size-sm: @height-sm - 4px;
@tag-size-md: @height-sm;
@tag-size-lg: @height-sm + 4px;

@tag-padding-sm: 6px;
@tag-padding-md: 8px;
@tag-padding-lg: 10px;

@tag-font-size-sm: @font-size-sm;
@tag-font-size-md: @font-size-sm;
@tag-font-size-lg: @font-size;

@tag-default-color: shade(@component-background-color, 10%);
@tag-primary-color: @primary-color;
@tag-info-color: @info-color;
@tag-warning-color: @warning-color;
@tag-success-color: @success-color;
@tag-error-color: @error-color;
@tag-blue-color: #1890ff;
@tag-cyan-color: #13c2c2;
@tag-geekblue-color: #2f54eb;
@tag-gold-color: #faad14;
@tag-green-color: #52c41a;
@tag-lime-color: #a0d911;
@tag-magenta-color: #eb2f96;
@tag-orange-color: #fa8c16;
@tag-pink-color: #eb2f96;
@tag-purple-color: #722ed1;
@tag-red-color: #ff0000;
@tag-volcano-color: #fa541c;
@tag-yellow-color: #fadb14;